header{
    text-align: center;
}

.colorsContainer{
    display: flex;
    justify-content: space-evenly;
}

.colors{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

.resetContainer{
    display: flex;
    justify-content: center;
}